

<style>
  .btn-custom{
    background-color: #faa63e;
    color: white;
  }
  .btn-custom:hover {
    background-color: #faa80e;
    color: #ffffff;
  }
.fieldtitle {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #5c5e82;
  }
</style>
  <section class=" text-center container">
    <div class="py-2">
      <div class="">
       
        
        
        {% if user.is_authenticated %}
        <a href="{% url 'photo:typingselectstudent' %}"
            class="btn btn-custom my-2" ">テストを開始する</a>
            
        {% else %}
        <p class="lead text-muted">ログインしてテストの結果を記録しましょう</p>
        <p>
        <a href="{% url 'accounts:signup' %}"
            class="btn btn-primary my-2">教室新規登録</a>
        <a href="{% url 'accounts:login' %}"
            class="btn btn-secondary my-2">教室IDまたは管理者IDでログイン</a>
        {% endif %}
        </p>
      </div>
    </div>
    <div class='fieldtitle'>
      <h2 id='id_name' class=''>タイピング練習</h2>
      
      </div>
  </section>

 