{% extends 'base.html' %}
{% load static %}
{% block title %}Photo Gallxxsxdeery{% endblock %}
{% block contents %}

     <div class="typing">
        <meta charset="utf-8">
        <meta name="description" content="簡易的なタイピング">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "typing.css" %}">

    
   
        <p id="count" class="count">10</p>
        <div id="wrap" class="wrap">
            <span id="typed" class="typed"></span>
            <span id="untyped"></span>
        </div>
        <button id="start">スタート</button>
        <script type="text/javascript" src="{% static "main.js" %}"></script>
     </div>
      {% for i in posts %}
    <tr>
      <td>{{ i.trans }}</td>
    </tr>
    {% endfor %}
    value={{posts2}}
    <li id="text">value</li>
    {% for i in posts2 %}
    <tr>
      <td>{{ i.word }}</td>
    </tr>
    {% endfor %}
{% endblock %}

<!-- {% for product in object_list %}
<tr>
<td>{{ product.word }}</td>
<td>{{ product.trans }} 円</td>
</tr>
{% endfor %} -->