{% extends 'base.html' %}
{% load static %}
{% block title %}ENtyping {% endblock %}
{% block contents %}
<style>
    .typing{
    font-size: 4em;
    text-align: center;
}
form{
    font-size: 2em;
    text-align: center;
}

.count{
    margin: 0;
    font-weight: bold;
    color: #888;

}

.wrap{
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

.start{
    font-size: 4em;
    text-align: center;
    margin: 20px
}
.typed{
    color: lightgreen;
}

.mistyped{
    background-color: red;
}
.tables{
    text-align: center;
}

table{ margin: auto;

    font-size: 1rem;
    width: 50%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
  }



  table th{
    padding: 10px;
    border-bottom: solid 4px #d4d6d6;
    color: #778ca3
  }

  table td{
    padding: 10px;
    border-bottom: solid 1px #d4d6d6;
  }


{% comment %}
  .field {
    display: flex;
    justify-content: space-around;
    }

{% endcomment %}




</style>

        <meta charset="utf-8">
        <meta name="description" content="簡易的なタイピング">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <form action="" method="POST">
            {{ form.as_p }}
        </form>

        <div class='typing'>
            <p id="count" class="count">60</p>
            <div id="wrap" class="wrap">
                <div class='field'>

                    <div>
                        <p id="trans" >以下のテストを開始します<br>スタートを押してください</p>
                        <span id="typed" class="typed"></span>
                        <span id="untyped"></span>
                        <h1 id="end"></h1>
                    </div>
                        <div class="tables">
                        <table id="tbl1"  >

                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class='start'>
            <button id="start">スタート</button>

        </div>


{% endblock %}

        {% block extrajs %}
        <script>




            let untyped='';
            let typed='';
            let score=0;

            var textLists;
            var transLists
            var untypedfield=document.getElementById('untyped');
            const typedfield=document.getElementById('typed');
            const wrap = document.getElementById('wrap');
            const start=document.getElementById('start')
            const count=document.getElementById('count')
            const transfield=document.getElementById('trans');
            const endfield=document.getElementById('end');
            var select=document.getElementById('select');
            const tbl=document.getElementById('tbl1');
            var parentselect=document.getElementById('parentselect');
            const parentCategoryElement = $('#id_parent_category');
            const categoryElement = $('#id_category');
     

        
        

            
            const changeCategory = (select) => {
                // 子カテゴリの選択欄を空にする
                categoryElement.children().remove();
                $.ajax({
                    url: '{% url 'photo:ajax_get_category' %}',
                    type: 'GET',
                    data: {
                        'pk': parentCategoryElement.val(),
                    }
                }).done(response => {
                    // 子カテゴリの選択肢を作成・追加
                    for (const category of response.categoryList) {
                        const option = $('<option>');
                        option.val(category['pk']);
                        option.text(category['title']);
                        categoryElement.append(option);
                    }
        
                    // 指定があれば、そのカテゴリを選択する
                    if (select !== undefined) {
                        categoryElement.val(select);
                    }
                    printlist();
                });
            };
        
            parentCategoryElement.on('change', () => {
                changeCategory();
                console.log(categoryElement.val());
            });

            categoryElement.on('change', () => {
                printlist();
                console.log('change');
            });
            transfield.textContent='以下のテストを開始します';
            typedfield.textContent='';
            untypedfield.textContent='スタートを押してください';
            const printlist=()=>{
               
                var category_value=categoryElement.val();
                var xhr=new XMLHttpRequest();
                xhr.open('POST','/process/', true);
                xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                xhr.onreadystatechange=function(){
                    if(xhr.readyState === 4 && xhr.status === 200){
                        var resultDiv=document.getElementById('result');
                        var responseData=JSON.parse(xhr.responseText);
                        textLists=responseData.message;
                        transLists=responseData.message2;
                        console.log(textLists)
                        console.log(transLists)
                        let time=count.textContent; 
                        let long=textLists.length*15;       
                        count.textContent=long;

                        var table = document.getElementById("tbl1");  // 行の削除
                        while (table.rows.length > 0) table.deleteRow(0);
                        for(let i=0; i<textLists.length; i++){
                            const tbl=document.getElementById('tbl1');
                            let tr=document.createElement('tr');
                            let cell=document.createElement('td');
                            let celltext=document.createTextNode(textLists[i]);
                            cell.appendChild(celltext);
                            let cell2=document.createElement('td');
                            let celltrans=document.createTextNode(transLists[i]);
                            cell2.appendChild(celltrans);
                            tr.appendChild(cell);
                            tr.appendChild(cell2);
                           tbl.appendChild(tr);
                        }
                    }
                };
                xhr.send('categorys=' + category_value);
            }
        


            var counter=0;
            let random;

            const createText =()=>{
               {
                
                typed='';
                typedfield.textContent=typed;
                transfield.textContent=transLists[counter];
                untyped = textLists[counter];
                counter++;
                strHead=untyped.slice(0,1);
                blank='';
                for(i = 0; i<untyped.length-1; i++){
                    blank+='□'
                    console.log(blank)
                }
                untypedfield.textContent=strHead+blank;
                

            };}


            const keyPress=e=>{
                console.log(e.key);
                if(e.key !==untyped.substring(0,1)){
                    wrap.classList.add('mistyped')
                    setTimeout(()=>{
                        wrap.classList.remove('mistyped')
                    },100)
                    return;
                }

                score++;
                typed+=untyped.substring(0,1);
                untyped=untyped.substring(1);
                typedfield.textContent=typed;
                console.log(untyped.length)
                blank='';
                for(i = 0; i<untyped.length; i++){
                    blank+='□'
                    console.log(blank)
                }
                untypedfield.textContent=blank;
                if(untyped===''){
                    createText()
                }
            };
            const rankCheck=score=>{
                let text='';            
                return  `時間切れです\n早く打てるように練習しましょう\n【OK】リトライ / 【キャンセル】終了`

            };

            const rankCheckClear=score=>{
                let text='';            
                return  `制限時間内にすべての単語を打てました\nおめでとうございます\n【OK】リトライ / 【キャンセル】終了`

            };

            const gameOver=id=>{
                counter=0;
                clearInterval(id);
                var select=document.getElementById('select');
                categoryElement.css('visibility', 'visible');
                parentCategoryElement.css('visibility', 'visible');
                $("label[for='id_parent_category']").css('visibility', 'visible');
                $("label[for='id_category']").css('visibility', 'visible');
                
                transfield.textContent='再テストを開始します';
                typedfield.textContent='';
                untypedfield.textContent='スタートを押してください';
                endfield.textContent='';
                setTimeout(()=>{
                    const result=confirm(rankCheck(score));
                if(result==true){
                    start.style.display = '';
                    start.textContent='再スタート'
                    printlist();
                    }

                },500)
             };


             const gameClear=id=>{
                counter=0;
                clearInterval(id);
                var select=document.getElementById('select');
                categoryElement.css('visibility', 'visible');
                parentCategoryElement.css('visibility', 'visible');
                $("label[for='id_parent_category']").css('visibility', 'visible');
                $("label[for='id_category']").css('visibility', 'visible');
                
                typedfield.textContent='合格です';
                transfield.textContent='おめでとうございます';
                untypedfield.textContent='';
                endfield.textContent='';
                setTimeout(()=>{
                    const result=confirm(rankCheckClear(score));
                if(result==true){
                    start.style.display = '';
                    start.textContent='スタート'
                    printlist();
                    }

                },500)}




            const timer=()=>{
                let time=count.textContent;
                const id =setInterval(()=>{
                    time--;
                    count.textContent=time;
                    if(time<=0 ){

                        gameOver(id);
                    }else if(counter>textLists.length ){
                        gameClear(id);
                    }
                },1000);
            };
            start.addEventListener('click',()=>{
                createText();
                timer();
                categoryElement.css('visibility', 'hidden');
                parentCategoryElement.css('visibility', 'hidden');
                $("label[for='id_parent_category']").css('visibility', 'hidden');
                $("label[for='id_category']").css('visibility', 'hidden');
                start.style.display='none';
                var table = document.getElementById("tbl1");  // 行の削除
                        while (table.rows.length > 0) table.deleteRow(0);
                endfield.textContent='';
                
                document.addEventListener('keypress',keyPress);
                trans.style.display='';
            });
            untypedfield.textContent='';
       
            </script>

            {% endblock %}

<!-- {% for product in object_list %}
<tr>
<td>{{ product.word }}</td>
<td>{{ product.trans }} 円</td>
</tr>
{% endfor %} -->